h2 {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
}

p {
  margin-bottom: 20px;
}

/* Mobil */
@media (max-width: 800px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
  .lokationer_billede {
    grid-column: 1/3;
    margin-inline: auto;
    padding: 1rem;
  }
  .lokationer_1 {
    margin-inline: auto;
  }
  .lokationer_2 {
    margin-inline: auto;
  }
}

/* Desktop */
@media (min-width: 800px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 60px;
  }

  main {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
}
