h2 {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
}

p {
  margin-bottom: 20px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 13fr 10fr 10fr;
}

.lokationer_billede {
  width: 80%;
  height: auto;
}
