main {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 100px;
}

/* Tekster */

h2 {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 5px;
}

p {
  margin-bottom: 20px;
  text-align: justify;
}

.om_grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 40px;
}
