/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Baggrundsfarve */
body {
  background-color: #eeece3;
}

/* H1 overskrift for alle sider */
h1 {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 3.4rem;
  font-weight: 300;
  font-style: normal;
  margin-top: 60px;
  margin-left: 126px;
  margin-bottom: 20px;
}

html {
  scroll-behavior: smooth;
}

/*Menu css*/
@media (min-width: 800px) {
  .om_grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
  }

  #bagerdygtigtheader {
    font-size: 3rem;
   font-weight: 400;
    font-family: "brandon-grotesque", sans-serif;
    margin-left: 21%;
  }

  .menu {
    list-style: none;
    display: flex;
    font-size: 30px;
    margin-top: 2%;
  }

  .menu li {
    margin-right: 35px;
  }

  a {
    text-decoration: none;
    font-weight: lighter;
    color: black;
font-size: 1.4rem;
    font-family: "brandon-grotesque", sans-serif;
  }

  .separator {
    height: 2px;
    background-color: #000;
    margin: 10px 50px;
    margin-top: -2%;
    margin-right: 4%;
    margin-left: 7%;
  }
  }
}
/*menu html*/
<header>
        <div class="om_grid">
            <div>
                <a id="bagerdygtigtheader" href="#">BAGERDYGTIGT</a>
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Lokationer</a></li>
                    <li><a href="#">Om</a></li>
                    <li> <a href="#">Bestilling</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="separator"></div>
