/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Baggrundsfarve */
body {
  background-color: #eeece3;
}

.ig {
  margin-top: 1%;
  width: 115%;
}
/* Tekster for alle sider */
h1 {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 3.4rem;
  font-weight: 400;
  font-style: normal;
  margin-top: 40px;
  margin-bottom: 20px;
}

p {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

/* Menu */
.separator {
  border-bottom: 0.5px solid black;
}

.om_grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-right: 2%;
}

#bagerdygtigtheader {
  font-size: 3rem;
  font-weight: bold;
  margin-left: 6%;
}

.menu {
  list-style: none;
  display: flex;
  font-size: 30px;
  margin-top: 5%;
}

.menu li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  font-weight: lighter;
  color: black;
  font-size: 1.2rem;
  font-family: "brandon-grotesque", sans-serif;
}

/* Burgermenu */
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 5%;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style: none;
}

.menu li {
  margin-right: 20px;
  display: list-item;
  text-align: -webkit-match-parent;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}

/* Desktop site footer */

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  .separator {
    border-bottom: 0.5px solid black;
  }

  nav.active .menu {
    display: block;
    background-color: #eeece3;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  .ig {
    margin-top: 1%;
  }
}
/*Styling for footer web*/
@media (min-width: 800px) {
  .om_grid3 {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
<<<<<<< HEAD
    margin-top: 2rem;
=======
    margin-top: -0.2rem;
>>>>>>> 1cdf1c09ef572595f5a1ef2a4cb04ddc355ed0a2
  }

  .footer1 {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    padding: 1rem;
    margin-top: 2%;
  }
  .footer2 {
    list-style: none;
    margin-bottom: 1rem;
    width: 15rem;
    align-items: center;
    margin-top: 2%;
    margin-left: 2%;
  }

  .footer3 {
    display: flex;
    width: 7%;
    padding: 1rem;
    margin-top: 7%;
    margin-right: 5%;
  }
}

/*Styling for footer mobil*/
@media (max-width: 800px) {
  .om_grid3 {
    display: flex;
    justify-content: space-between;
  }

  #bagerdygtigtheader {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 28%;
  }

  .footer1 {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    padding: 1rem;
    margin-top: 2%;
    margin-left: -6%;
  }
  .footer2 {
    list-style: none;
    margin-bottom: 1rem;
    width: 8rem;
    align-items: center;
    margin-top: 13%;
  }

  .footer3 {
    display: flex;
    width: 5rem;
    padding: 1rem;
    margin-top: 18%;
  }
}
